@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f2f2f2;
    align-items: center;
    padding: 30px;
}
header h1{
    font-weight: bolder;
}
form{
    padding: 10px 5px;
    box-shadow: inset 0px 0px 8px 1px rgba(0, 0, 0, 0.355);
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
}
form i{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.548);
}
input{
    width: 300px;
    padding: 5px 5px;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    outline: none;
}
::placeholder{
    color: black;
    }
header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
header nav ul li{
    padding: 0px 12px 0px 12px;
    list-style: none;
    justify-content: space-evenly;
    transition: all 0.3s;
    border-radius: 30px;
}
header nav ul li:hover{
    transform: scale(1.35);
    background-color: white;
}
header nav ul li a{
    text-decoration: none;
}
header nav ul li a:link{
    color: black;
}
header nav ul li a:visited{
    color: black;
}
header nav ul li a:active{
    color: black;
}
/*Main Content Style Code*/
main{
    margin-inline: auto;
    max-width: 1200px;
    margin-bottom: 150px;
    margin-top: 50px;
}
main h2{
    padding: 50px;
    font-size: 30px;
    font-weight: bolder;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-inline: auto;
    max-width: 1200px;
    background-color: #f2f2f2;
    border-radius: 30px;
}
footer{
    padding: 40px 0px;
    width: 100%;
    text-align: center;
    background-color: #eee;
}
.container{
    /*max-width: 400px;*/
    transition: all 0.3s;
    background-color: #f2f2f2;
    border-radius: 30px;
    width: 400px;
}
.container:hover{
    transform: scale(1.15);
}
.container img{
    width: 300px;
    height: 200px;
    border-radius: 30px;
    margin-left: 50px;
    padding: 10px 0px;
}
.container h5,h6{
    margin-left: 53px;
}
.container h5{
    font-size:25px;
    font-weight: bolder;
}
.container h6{
    font-size: 17px;
}
.container a{
    text-decoration: none;
}

.container h6 a:link{
    color: red;
}
.container h6 a:visited{
    color: red;
}
.container h6 a:active{
    color: red;
}